options {
    // network 
	listen-on port 53 { {{ slave_dns }} ; };
	listen-on-v6 port 53 { ::1; };

    // data
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";

    // server
	recursion yes;
	allow-query     { any; };
    allow-transfer { any; };
    
    // dnssec
	dnssec-enable yes;
	dnssec-validation yes;

    // others
	bindkeys-file "/etc/named.iscdlv.key";
	managed-keys-directory "/var/named/dynamic";
	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

// RNDC Control for clients
key "rndc-key" {{ rndc_key }};

controls {
    inet {{ slave_dns }} allow { {{ client1 }}; {{ client2 }}; } keys { "rndc-key"; };
};      

// ZONE TRANSFER master -> slave WITH TSIG
include "/etc/named.zonetransfer.key"; 
server {{ master_dns }} {
    keys { "zonetransfer.key"; };
};


// Client keys
key "client1-key" {{ client1_key }};
key "client2-key" {{ client2_key }};


// Access lists
acl client1 { !key client2-key; key client1-key; {{ client1 }}; };
acl client2 { !key client-key; key client2-key; {{ client2 }}; };

view "client1" {
    match-clients { client1; };
    allow-query { any; };

    // dns.lab zone
    zone "dns.lab" {
        type slave;
        masters { {{ master_dns }} key client1-key; };
    };

    // newdns.lab zone
    zone "newdns.lab" {
        type slave;
        masters { {{ master_dns }} key client1-key; };
    };
};

view "client2" {
    match-clients { client2; };

    // dns.lab zone
    zone "dns.lab" {
        type slave;
        masters { {{ master_dns }} key client2-key; };
    };

    // dns.lab zone reverse
    zone "50.168.192.in-addr.arpa" {
        type slave;
        masters { {{ master_dns }} key client2-key; };
    };
};

view "default" {
    match-clients { any; };

    // root zone
    zone "." IN {
        type hint;
        file "named.ca";
    };

    // zones like localhost
    include "/etc/named.rfc1912.zones";

    // root's DNSKEY
    include "/etc/named.root.key";

    // lab's zone
    zone "dns.lab" {
        type slave;
        masters { {{ master_dns }}; };
        file "/etc/named/named.dns.lab";
    };

    // lab's zone reverse
    zone "50.168.192.in-addr.arpa" {
        type slave;
        masters { {{ master_dns }}; };
        file "/etc/named/named.dns.lab.rev";
    };

    // lab's newdns zone
    zone "newdns.lab" {
        type slave;
        masters { {{ master_dns }}; };
        file "/etc/named/named.newdns.lab";
    };
};